*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.topNavbar{
    display: flex;
    justify-content: space-between;
    margin: 7px;
}
.topNavbar .left{
    flex:1;
}
.topNavbar .left a:link{
    color: black;
    text-decoration: none;
    margin-left: 10px;
}
.topNavbar .left a:visited{
    color: black;
}
.topNavbar .right{
    flex:1;
    text-align: right;
    margin-left: 20px;
}
/* navbar css  */
.mainNavbar{ 
    /* background-color: #c8c8c8; */
    height: 80px;
    position: sticky;
    top:0;
    background-color: white;
    border-bottom: 1px solid rgb(222, 222, 222);
    z-index: 2;
}

.navList{
    list-style-type: none;
    /* border: 1px solid red; */
    /* width: 80%; */
    margin: 3px auto;
}

.navItem{
    /* border: 1px solid pink; */
    /* float: left; */
    display: inline-block;
    margin: 20px 40px;

}

a.navLink:link{
    color: red;
    text-decoration: none;
    padding: 5px 10px;

}
a.navLink:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid red;

}
a.navLink:active{

}
a.navLink:visited{
    color: red;
    text-decoration: none;
}

.logo{
    width: 100px;
    height: auto;
}

/* header css */
.headerSection{
    width:100%;
    height: 600px;
    position: relative;
}
.headerSection img{
    width:100%;
    height: 100%;
}
.headerContent {
    color: white;
    position: absolute;
    right: 50%;
    bottom: 50%;
    text-align: center;
}
.headerContent .delicious{
    font-size: 30px;
}
.headerContent h2{
    font-size: 350%;
}
.headerContent .eggless{
    font-size: 25px;
    font-weight: bold;
}

.customActive{
    color: brown !important;
}

.centerHeading{
    text-align: center;
}
.detailsPara{
    margin: 50px 180px ;
    /* padding: 60px 20px 10px 90px; */
    font-size: x-large;
}
.boldText{
    font-weight: bold;
}

.categoryMainDiv{
    width: 100%;
    display: flex;
}
.PavWidth{
    width: 25%;
    height: 300px;
    margin: 5px 10px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.PavWidth:hover{
    /* background-size:contain; */
    background-size:105%;
}
/* .alignDivCenter{
    position: absolute;
    top:45%;
    right: 20%;
} */
.categoryBirthday{
background-image: url('./assets/Birthday.jpg');
background-repeat: no-repeat;
background-size: 100%;

}
.categoryBestSellers{
background-image: url('./assets/bestSeller.jpg');
background-repeat: no-repeat;
background-size: cover;

}
.categoryChocolateLovers{
background-image: url('./assets/fruitsCakeIamge.jpg');
background-repeat: no-repeat;
background-size: cover;

}
.categoryCongratulationsCakes{
background-image: url('./assets/congratulationImage.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.featuredMain{
    width: 100%;
    height: 400px;
    display: flex;
}
.featuredCard{
    width: 25%;
    height: 280px;
    margin: 5px 10px;
}
.featuredImage{
    width: 100%;
    height: 70%;
}
.featuredPrice{
    text-align: center;
    font-family: cursive;
}
.customLetterSpacing{
    letter-spacing: 2px;

}
.textSpacious{
    letter-spacing: 3px;
    text-align: center;
}
.contactDetails{
    background-image: url('./assets/contactDetails.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding-top: 100px;

}
.contentDiv{
    background-color: white;
    margin-left: 90px;
    width: 450px;
    border: 5px solid red;
    padding: 20px;
}
.contactHeading{
    font-size: xx-large;

}
.black-btn{
    background-color: #2c2b2b;  
    /* 00 - ff   00-ff         00-ff; */
    color: white; 
    padding: 10px; 
    font-weight: bolder;
    border: none;
}
.black-btn:hover{
    background-color: rgb(78, 78, 78);
}

/* card css */
.white-btn{
    border: 1px solid rgb(185, 185, 185);
    padding: 7px;
    background-color: #fff;
    letter-spacing: 3px;
}

.cardList{
    width: 90%;
    display: flex;
    height: 400px;
    margin: 0 auto;
}
.card{
    width: 30%;
    height: 400px;
    margin-right: 3%;
}
.carImage{
    width:100%;
    height: 50%;
}
.cardTitle{
    text-align: center;
}
.cardDiscri{
    padding-bottom: 9px;
    line-height: 1.2;
}
.cardBTN{
    margin-left: 20%;
}
.footer{
    height: 300px;
    background-color: rgb(227, 227, 227);
    display: flex;
}
.footer .footerLeft{
    width: 33%;
    border: 1px solid red;
    /* display: inline-block; */
}
.footer p{
    margin: 15px 20px;
}
.footerLeft p a:link{
    color:black;
    text-decoration: none;
}
.footerLeft p a:visited{
    color: black;
}
.footer .footerMiddle{
    width: 33%;
    border: 1px solid rgb(9, 255, 0);
    /* display: inline-block; */
}
.footer .footerRight{
    width: 33%;
    border: 1px solid rgb(13, 0, 250);
    /* display: inline-block; */
}
.copyright{
    text-align: center;
}
