*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}
/* navbar css  */
.mainNavbar{ 
    /* background-color: #c8c8c8; */
    height: 90px;
}

.navList{
    list-style-type: none;
    /* border: 1px solid red; */
    /* width: 80%; */
    margin: 5px auto;
}

.navItem{
    /* border: 1px solid pink; */
    /* float: left; */
    display: inline-block;
    margin: 30px 40px;

}

a.navLink:link{
    color: red;
    text-decoration: none;
    padding: 5px 10px;

}
a.navLink:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid red;

}
a.navLink:active{

}
a.navLink:visited{
    color: red;
    text-decoration: none;
}

.logo{
    width: 100px;
    height: auto;
}
.customActive{
    color: brown !important;
}

.centerHeading{
    text-align: center;
}
.detailsPara{
    margin: 50px 180px ;
    /* padding: 60px 20px 10px 90px; */
    font-size: x-large;
}
.boldText{
    font-weight: bold;
}
.contactDetails{
    background-image: url('./assets/contactDetails.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding-top: 100px;

}
.contentDiv{
    background-color: white;
    margin-left: 90px;
    width: 450px;
    border: 5px solid red;
    padding: 20px;
}
.contactHeading{
    font-size: xx-large;

}
.contact-btn{
    background-color: #7b7b7b;  
    /* 00 - ff   00-ff         00-ff; */
    color: white; 
    padding: 10px; 
    font-weight: bolder;
    border: none;
}
.contact-btn:hover{
    background-color: rgb(78, 78, 78);
}



.footer{
    height: 300px;
    background-color: rgb(227, 227, 227);
    display: flex;
}
.footer .footerLeft{
    width: 33%;
    border: 1px solid red;
    /* display: inline-block; */
}
.footer p{
    margin: 15px 20px;
}
.footerLeft p a:link{
    color:black;
    text-decoration: none;
}
.footerLeft p a:visited{
    color: black;
}
.footer .footerMiddle{
    width: 33%;
    border: 1px solid rgb(9, 255, 0);
    /* display: inline-block; */
}
.footer .footerRight{
    width: 33%;
    border: 1px solid rgb(13, 0, 250);
    /* display: inline-block; */
}
.copyright{
    text-align: center;
}
